body{
    font-family: 'Special Elite',cursive;
    background: #f5dbda;
}

.header_div {
    background-color: white;
    color: #ce2700;
}

.header_div p {

font-family: 'Robotto',sans-serif;
color: grey;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}

.main_div button {

    font-family: 'Robotto',sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.copy_right_footer {

    position: fixed;
    color: grey;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px  rgb(151, 149, 149);
}
    
    